*{
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background: #9cecfb; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9cecfb, #65c7f7, #0052d4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9cecfb, #65c7f7, #0052d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0;
    margin: 0;
}

.container{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
}

.container > button{
    outline: none;
    border: 1px solid rgba(255,255,255, 0.3);
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
}

.container > button:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
}

.span-two{
    grid-column: span 2;
}

.output{
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    word-wrap: break-word;
    word-break: break-all;
    padding: 0px 10px 0px 0px;
}

.output .current-operand{
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.5rem;
}

.output .previous-operand{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
}